[Unit]
Description=dolphinscheduler worker
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/srv/dolphinscheduler/worker-server
ExecStart=/bin/bash bin/start.sh
ExecStop=/bin/kill -15 $MAINPID
Restart = always
RestartSec = 20

[Install]
WantedBy=multi-user.target
