name: CI

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: pt-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  dead-link:
    name: Dead Link
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Checker
        run: sudo npm install -g markdown-link-check@3.10.0
      - name: Check
        run: |
          for file in $(find . -name "*.md"); do
            markdown-link-check -q "$file"
          done
  hcl:
    name: Packer hcl
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Packer
        run: |
          curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo apt-key add -
          sudo apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com $(lsb_release -cs) main"
          sudo apt-get update && sudo apt-get install packer
      # Need to `cd` to directory and and execute command, because some of templates with shell provisioner with script, which using related path
      - name: Format and Validate pkr.hcl File
        run: |
          for file in $(find . -name "*.pkr.hcl"); do
            path_dir=$(dirname "${file}")
            cd "${path_dir}"
            packer init .
            packer fmt --check $(basename "${file}")
            packer validate $(basename "${file}")
            cd -
          done
