name: CI

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: pt-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  hcl:
    name: Packer hcl
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Packer
        run: |
          curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo apt-key add -
          sudo apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com $(lsb_release -cs) main"
          sudo apt-get update && sudo apt-get install packer
      - name: Format and Validate pkr.hcl File
        run: |
          packer init .
          for file in $(find . -name "*.pkr.hcl"); do
            packer fmt --check "${file}"
            packer validate "${file}"
          done
